.customerHeader {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: 8px 20px 8px 20px;
    z-index: 50;

    .logo {
        width: 50px;
    }

    section {
        a {
            color: #fff !important;
            margin-left: 20px;
            text-transform: uppercase;
            font-size: 16px;
            padding-bottom: 5px;

            &:hover {
                border-bottom: solid 2px var(--yellow);
            }
        }

        

        .active {
            border-bottom: solid 2px var(--yellow);
        }
    }
}